.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #4f4fe5; // Use your primary color
  pointer-events: none;
  border-radius: 9999px;
  opacity: 0;
  transform-origin: center;
  will-change: transform, width, height;
}