@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --font-alt: "Libre Baskerville", serif;
  --font-primary: "Manrope", sans-serif;

  --color-primary: 238, 58%, 94%;
}

/*  Lenis Styles */

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

::-webkit-scrollbar-thumb {
  /* background: rgb(28, 18, 37); */
  background: rgb(79, 70, 229, 0.01);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  /* background: #131016ec; */
  background: rgb(79, 70, 229, 0);
}

::selection {
  color: rgb(255, 255, 255);
  background: rgb(45, 4, 88);
}

.project-card img {
  transition: transform 0.3s ease-in-out;
}
.project-card:hover img {
  transform: scale(1.05);
}